# ansible/roles/common/handlers/main.yml
- name: Restart containerd
  systemd:
    name: containerd
    state: restarted
    enabled: yes
    
- name: Restart kubelet
  ansible.builtin.systemd:
    name: kubelet
    state: restarted
    daemon_reload: yes
