# ansible/roles/master/tasks/main.yml
- name: Initialize Kubernetes master
  command: kubeadm init --apiserver-advertise-address="{{master_ip}}" --pod-network-cidr="{{pod_network_cidr}}"
  args:
    creates: /etc/kubernetes/admin.conf

- name: Set up kubeconfig for vagrant user
  shell: |
    mkdir -p /home/vagrant/.kube
    cp -i /etc/kubernetes/admin.conf /home/vagrant/.kube/config
    chown vagrant:vagrant /home/vagrant/.kube/config

- name: Install Flannel network plugin
  become: true
  command: kubectl apply -f https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf

- name: Patch Flannel to use correct interface
  shell: |
    kubectl patch ds kube-flannel-ds -n kube-flannel --type='json' -p='[{"op": "add", "path": "/spec/template/spec/containers/0/args/-", "value": "--iface=eth1"}]'
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf

- name: Get join command
  command: kubeadm token create --print-join-command
  register: join_command

- name: Save join command
  copy:
    dest: /vagrant/join-command.sh
    content: "{{ join_command.stdout }}"
